
.layout {
  width: 100vw;
  display: -ms-grid;
  -ms-grid-columns: 260px calc(100vw - 260px);

  display: grid;
  grid-template-columns: 260px auto;
}

.main {
  -ms-grid-column: 2;
  background: $color-body;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 20px 40px;

  h1 {
    font-weight: 100;
    margin: 0 0 40px;
  }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

html.external {
  body {
    padding-top: 18vh;
    min-height: 100vh;

    .logo {
      position: absolute;
      top: 8vh;
      left: 0;
      right: 0;
      text-align: center;

      img {
        height: 7vh;
      }
    }

    .login {
      margin: 0 auto;
      max-width: 90%;
      width: 400px;

      input[type="checkbox"] {
        margin-top: 15px;
      }

      .external-auth {
        a.btn {
          display: block;

          svg {
            margin-right: 25px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.browser-warning {
  display: none;
}

@media (max-width: 767px) {
  .main {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .sidebar-toggle {
    display: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main {
    padding-top: 50px;
  }

  .browser-warning {
    display: block;
  }
}