.alert {
  background-color: $gray-400;
  color: $gray-900;
  border-radius: 3px;
  padding: 15px 15px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  position: relative;
  margin-bottom: 30px;

  &.animated {
    width: 400px;
    max-width: 80%;
  }

  &.alert-with-icon {
    padding-left: 70px;

    > svg {
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
      color: $gray-900;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 40px;

      position: absolute;
      left: 15px;
      top: -15px;
    }
  }

  button.close {
    display: none;
  }

  &.alert-overlay {
    z-index: 15000;
  }

  .close-icon {
    float: right;
  }
}

.main-panel {
  .alert-banner {
    padding: 5px;
  }
}
