.pagination-container {
  margin: 25px auto;
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 10px 0;
  border-radius: 4px;

  > li {
    display: inline;
    > a,
    > span {
      position: relative;
      float: left;
      text-decoration: none;
      border-radius: 30px;
      transition: all .3s;
      padding: 0px 11px;
      margin: 0 3px;
      min-width: 30px;
      height: 30px;
      line-height: 30px;
      color: $color-primary;
      text-transform: uppercase;
      background: transparent;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: darken($color-primary, 5%);
      background-color: $gray-300;
      border-color: $gray-300;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #fff;
      background-color: $color-primary;
      border-color: $color-primary;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $gray-500;
      background-color: #fff;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
}
